*{
    margin: 0px;
}
body{margin: 0px;}header{margin: 0%;height: auto;width: auto;}
img{background-color: yellow;height: 200px;width: 23%;border-radius:50px 0px 0px 50px  ;border-left:7px solid white;position: relative;float: right;}
#rojo{background-color: rgb(213, 14, 14);height: 200px;width: 85%;position: absolute;}
.cuadro{background-color: yellow;position: relative;width: 11.5%;height: 130px;display: inline-flex;padding: 0.5%;margin: 0.5%;margin-top:3%;border-bottom:solid rgb(255, 0, 0) 5px;border-radius: 7%;}
#texto{color: white;text-align: left;font-family: 'Times New Roman', Times, serif;width: 30%;float: left;}
.star{clip-path: polygon(50% 0%, 67% 27%, 98% 35%, 78% 59%, 81% 90%, 50% 78%, 18% 89%, 24% 59%, 2% 35%, 35% 27%);
 color: yellow;text-align: center;   background-color: red;height: 100%;width: 100%;}
.tittle{background-color: red;height: 40px;width: 100%;position: absolute;top: -27%;border-radius: 10px;color: yellow;font-weight:900 ;text-align: center;font-size: 30px;}
.subt{background-color: red;height: 20px;width: 50%;position: absolute;top: 0%;right: -10px;color: yellow;font-weight:900 ;text-align: center;}
#circle{width: 50%;height: 50%;background-color:cyan;border-radius: 50%;border:solid white 3px;font-size:larger;position: absolute;right: 35px;top: 31px;text-align: center;}
#blue{background-color: black;height: 20px;width: 100%;color: white;font-size: larger;}h5{margin-top: 8px;}
p{height: 30px;width: 100%;text-align: center;margin-top: 30px;font-size: 40px;color: yellow;position: absoluto;}
/*.tres{
    position: absolute;
    padding: 65px 100px;
    width: 19%;
    background-color: darkorange;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    top: 28%;
    left:60%;
    transform: perspective(200px) rotatex(-10deg) rotateY(-4deg) rotateX(2deg);
    box-shadow: 10px 15px 5px lightgray
}
.cinco{
   font-family: 'Times New Roman', Times, serif;
    color: yellow;
    font-size: 200%;
    position: absolute;
    left: 69%;
    top: 25%;
    letter-spacing: 4px;
}
.cuatro{
    position: absolute;
    padding: 60px 110px;
    width: 14%;
    border: solid black 3px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    top: 27.5%;
    left:60%;
    transform: perspective(150px) rotatey(-10deg) rotateX(-4deg) rotateY(2deg);  
}
.bar1{
    height:15px;
    width: 15%;
    background-color: darkorange;
    position: absolute;
    bottom:73% ;
    left: 80%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    transform:rotate(-30deg);
}
.bar2{
    height:28px;
    width: 0.3%;
    background-color: darkorange;
    position: absolute;
    bottom:53.5% ;
    left: 91.2%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    transform:rotate(-45deg);
}
.bar3{
    height:15px;
    width: 15%;
    background-color: darkorange;
    position: absolute;
    bottom:85% ;
    left: 60.5%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    transform:rotate(-30deg);
}
.bar4{
    height:25px;
    width: 0.4%;
    background-color: darkorange;
    position: absolute;
    bottom:73% ;
    left: 60.5%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    transform:rotate(-30deg);
    
}
.bar5{
    height:25px;
    width: 0.4%;
    background-color: darkorange;
    position: absolute;;
    left: 59.5%;
    bottom: 72%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    transform:rotate(-45deg);
}